body {
    display: flex;
    justify-content: center;
    color: rgb(82, 80, 80);
}

h1 {
    text-align: center;
}

p {
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;

}

fieldset {
    border: none;
    outline: 0;
    padding: 20px 0;
}

button {
    width: 100%;
    background-color: rgb(5, 196, 5);
    color: white;
    border-radius: 8px;
    height: 50px;
    border: 0;
    margin-top: 5px;
}

.form-container {
    width: 500px;
    width: 90%;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 50%;
    background-color: #f4f7f8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 32px;
    border-radius: 8px;
}

.basic-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.basic-info p {
    font-size: x-large;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.textInput {
    background-color: #e8eeef;
    border: none;
    outline: 0;
    height: 40px;
    color: #8a97a0;
}

.gender {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.genderDetails {
    display: flex;
    align-items: center;
}

.genderDetails input {
    margin: 5px 0;
}

.textarea {
    height: 100px;
    border: none;
    outline: 0;
    background-color: #e8eeef;
}