.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    color: rgb(73, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}
.heading {
    display: flex;
    align-items: center;
    margin: 8px 20px;
    gap: 20px;
}
.heading-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: white;
}
.box {
    box-shadow: 0px 0px 10px 5px rgba(114, 117, 120, 0.2);
    border-radius: 8px;
    padding: 0px 0 8px 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 8px 20px;
    line-height: 20px;
}
.top {
    height: 15px;
    margin: 0 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.top-first {
    background-image: linear-gradient(to right, rgb(220, 52, 52) 20%, rgb(250, 252, 250) 20%);
}
.top-second {
    background-image: linear-gradient(to right, rgb(220, 139, 52) 40%, rgb(250, 252, 250) 40%);
}
.top-third {
    background-image: linear-gradient(to right, rgb(44, 185, 103) 60%, rgb(250, 252, 250) 60%);
}
.heading-number-1 {
    background-color: rgb(220, 52, 52);
}
.heading-number-2 {
    background-color: rgb(220, 139, 52);
}
.heading-number-3 {
    background-color: rgb(44, 185, 103);
}