ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 0;
}
li {
    box-sizing: border-box;
    width: 500px;
    list-style-type: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    padding: 16px 32px;
}
p {
    color: rgb(94, 91, 91);
}
li p {
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 2rem;
}
.card-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.card-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-top-right {
    color: rgb(212, 146, 23);
}
img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h3 {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 0.8em sans-serif;
    gap: 5px;
}
.title p {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    padding: 0;
    font-weight: bold;
    color: rgb(80, 80, 215);
}
li:hover,
li:hover p,
li:hover h3,
li:hover .card-top-right,
li:hover .title p,
li:hover a{
    /* background-color: blueviolet; */
    color: rgb(245, 234, 234);
}
li:hover a {
    font-weight: bold;
}
li:hover {
    background: linear-gradient(45deg, rgba(198, 8, 223, 0.5) -5.09%, rgba(32, 42, 228, 0.5) 106.28%);
    transition: 0.5s;
}

@media screen and (max-width: 850px) {
    ul {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 480px) {
    ul {
        font-size: xx-small;
    }
    h3 {
        font-size: x-small;
    }
    .title {
        font-size: x-small;
    }
}
